header {
    width: fit-content;
    margin: 2rem auto;
}

.avatar-border {
    display: flex;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    padding: 4px;
}

header img {
    border-radius: 50%;
}

/* PAGE MAIN SECTION  */

section {
    width: 90%;
    max-width: 36.25rem;
    margin: 1.5rem auto;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 1.5rem 2rem 2rem;
    border-radius: 0.5rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

li img {
    width: 90px;
    border-radius: 0.5rem;
}

.channel-list img {
    border-radius: 50%;
    border: 1px solid #443E54;
}