header {
    margin-bottom: 2rem;
}

section {
    width: 90%;
    max-width: 36.25rem;
    margin: 1.5rem auto;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 1.5rem 2rem 2rem;
    border-radius: 0.5rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

li img {
    width: 90px;
    border-radius: 0.5rem;
}

.channel-list img {
    border-radius: 50%;
}